*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;
}

/* ==== SIDE LEFT HEADER ====== */

#leftSide{
    width: 26%;
}

#leftSide div{
    position: fixed
}

/* ==== CONTENT MIDDLE ====== */

#middle{
    width: 40%;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

#middle header a:last-child{
    float: right;
}

#middle .post{
    border-bottom: 1px solid gray;
    padding: 20px;
}

/* ==== RIGHT SIDE ====== */

#rightSide{
    width: 34%;
}